<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SociAlly | Dashboard</title>
    <script src="https://kit.fontawesome.com/de9ca8d89e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/dashboard.css">
    <link rel="icon" href="/SociAlly/Assets/favicon.png" type="image/x-icon">
</head>
<body>
    <div class="top-bar"> 
        <div class="user-info">
            <div class="pfp"><i class="fa-solid fa-circle-user"></i></div>
            <div class="text">
                <div class="greeting-name"></div>
                <div class="location"></div>
            </div>
        </div>
    </div>
    <div class="navbar">
        <div class="stats option selected">Your stats</div>
        <div class="groups option">Your groups</div>
        <div class="ngo option">Your NGOs</div>
    </div>
    <div class="panel"></div>
    <script src="js/dashboard.js"></script>
</body>
</html>
