<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SociAlly | Dashboard</title>
    <script
      src="https://kit.fontawesome.com/de9ca8d89e.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="css/ngo-dashboard.css" />
    <link rel="icon" href="/SociAlly/Assets/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <div class="top-bar">
      <div class="user-info">
        <div class="pfp" style="font-size: 3rem; color: #ecf8f8">
          <i class="fa-solid fa-building-wheat"></i>
        </div>
        <div class="text">
          <div class="greeting-name"><%= username %></div>
          <div class="location"><%= location %></div>
        </div>
      </div>
      <button class="logout-btn">
        <i class="fa-solid fa-arrow-right-from-bracket"></i>
      </button>
    </div>
    <div class="navbar">
      <div class="stats option selected">Your events</div>
    </div>
    <div class="film">
      <div class="form-panel">
        <h2 class="title">Enter the details</h2>
        <form>
          <input
            type="text"
            class="title-input"
            name="title"
            placeholder="Event title"
            required
          />
          <textarea
            name="description"
            placeholder="Event details"
            class="description-input"
            cols="30"
            rows="8"
            required
          ></textarea>
          <input
            type="text"
            name="location"
            class="location-input"
            placeholder="Location details"
            required
          />
          <div
            style="display: flex; justify-content: space-between; width: 100%"
          >
            <input type="date" name="date" class="date-input" required />
            <input type="time" name="time" class="time-input" required />
          </div>
          <button type="submit" class="submit-button">Create</button>
        </form>
        <div
          class="close"
          onclick="document.querySelector('.film').style.display='none'"
        >
          <i class="fa-solid fa-xmark"></i>
        </div>
      </div>
    </div>
    <div class="panel"></div>
    <script src="js/ngoDashboard.js"></script>
  </body>
</html>
